body {
    background: #444343;
    color: #fff;
}

h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.subtitle {
    margin-bottom: 75px;
}

.subtitle a {
    text-decoration: none;
    color: #ff6a5c;
}

.container {
    width: 84%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
}

.wrapper__input {
    width: 100%;
    max-width: 500px;
    height: 50px;
    margin-bottom: 30px;
    outline: none;
    border-radius: 3px;
    padding-left: 15px;
    color: #fff;
    background: transparent;
    border: 2px solid #ff6a5c;
}

.wrapper__input::-webkit-input-placeholder {
    color: #ffffff;
}

.btn {
    width: 150px;
    height: 40px;
    background: #ff6a5c;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    outline: none;
}