<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Invertor - сервис для ведения инвентарного учёта в учебных заведениях</title>
</head>
<body>

    <header>
        <div class="container">
          <div class="header__block">
                <h1 class="header__title">
                    <span>INVERTOR</span> - сервис для ведения инвентарного учёта в учебных заведениях
                </h1>
                <button class="registration_btn">
                    <a class="registration_a">Регистрация!</a>
                </button>
          </div>
        </div>
    </header>
    <section class="register" id="register">
        <div class="container">
            <div class="register__titles">
                <h2 class="register__title">Простая и быстрая регистрация!</h2>
                <h3 class="register__subtitle">Уже зарегистрированы? <a href="#">Войдите</a> прямо сейчас!</h3>
            </div>
        </div>
    </section>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>