<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Invertor - Вход</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="wrapper">
                <div class="wrapper__inner">
                    <h2 class="login__title">
                        ВХОД
                    </h2>
                    <form action="/login" method="post" class="login__form">
                    <input class="login__input" type="text" name="login" placeholder="Введите ваш логин:">
                    <input class="login__input" type="password" name="password" placeholder="Введите пароль">
                    <input type="checkbox" name="remainme"> Запомнить меня!
                    <input type="submit" value="Вход!" class="register__btn">
                </form> 
                </div>
            </div>
        </div>
    </header>
</body>
</html>